nav.sidebar
    .profile
        h1 adminGG v1.0
        span.user Hello, adminX
    .menu
        ul
            li(class=page == "dashboard" ? "active" : "")
                a(href="index.html")
                    span.fa.fa-gear(title="Dashboard")
                    span.text Dashboard
            li(class=page == "layouts" ? "active" : "")
                a(href="layouts.html")
                    span.fa.fa-align-left(title="Layouts")
                    span.text Layouts
                a(href="#").toggle
                    span.fa.fa-angle-double-left
                ul.submenu
                    li
                        a(href="#")
                            span.text Layouts 1
                    li
                        a(href="#")
                            span.text Layouts 2
                    li
                        a(href="#")
                            span.text Layouts 3
            li(class=page == "button" ? "active" : "")
                a(href="button.html")
                    span.fa.fa-th(title="Button")
                    span.text Button
                        span.new 8
            li(class=page == "navigation" ? "active" : "")
                a(href="navigation.html")
                    span.fa.fa-send(title="Navigation")
                    span.text Navigation
            li(class=page == "dropdown" ? "active" : "")
                a(href="dropdown.html")
                    span.fa.fa-chevron-circle-down(title="Dropdown")
                    span.text Dropdown
                a(href="#").toggle
                    span.fa.fa-angle-double-left
                ul.submenu
                    li
                        a(href="#")
                            span.text Dropdown 1
                    li
                        a(href="#")
                            span.text Dropdown 2
                    li
                        a(href="#")
                            span.text Dropdown 3
            li(class=page == "forms" ? "active" : "")
                a(href="forms.html")
                    span.fa.fa-file-text(title="Forms")
                    span.text Forms
            li(class=page == "banner" ? "active" : "")
                a(href="banner.html")
                    span.fa.fa-flag(title="Banner")
                    span.text Banner
                        span.new-2 4
            li(class=page == "list" ? "active" : "")
                a(href="list.html")
                    span.fa.fa-list-ul(title="List")
                    span.text List
            li(class=page == "typography" ? "active" : "")
                a(href="typography.html")
                    span.fa.fa-font(title="Typography")
                    span.text Typography
            li(class=page == "accordion" ? "active" : "")
                a(href="accordion.html")
                    span.fa.fa-bookmark(title="Accordion")
                    span.text Accordion
            li(class=page == "slider" ? "active" : "")
                a(href="slider.html")
                    span.fa.fa-toggle-on(title="Slider")
                    span.text Slider
    .footer
        span 02/11/2016
